nav(class="navbar navbar-expand-md navbar-dark bg-primary")
  .container-fluid
    if signedIn 
      a.navbar-brand(href="/home") Social App
    else 
      a.navbar-brand(href="/") Social App
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent")
      span.navbar-toggler-icon
    #navbarSupportedContent(class="collapse navbar-collapse")
      ul(class="navbar-nav me-auto mb-2 mb-lg-0")
        if signedIn 
          li.nav-item 
            a(class="nav-link", href='/post/new') New Post
      ul#authul(class="navbar-nav mb-2 mb-lg-0")
        if signedIn 
          li#signout
        else 
          li.nav-item 
            a(class="nav-link", href="/signin") Sign In
          li.nav-item
            a(class="nav-link", href="/signup") Sign Up